.landingPage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landingPage .div {
  background-color: #ffffff;
  border: 1px none;
  height: 3877px;
  overflow: hidden;
  position: relative;
  width: 1600px;
}

.landingPage .overlap {
  height: 3035px;
  left: -9px;
  position: absolute;
  top: -1px;
  width: 1616px;
}

.landingPage .bg {
  height: 1792px;
  left: 9px;
  position: absolute;
  top: 758px;
  width: 1600px;
}

.landingPage .group {
  height: 226px;
  left: 1283px;
  position: absolute;
  top: 0;
  width: 317px;
}

.landingPage .overlap-group {
  height: 226px;
  position: relative;
}

.landingPage .rectangle {
  background-color: #28282899;
  border-radius: 0px 0px 0px 30px;
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 317px;
}

.landingPage .rectangle-2 {
  background-color: #28282899;
  border-radius: 0px 0px 0px 30px;
  height: 178px;
  left: 48px;
  position: absolute;
  top: 0;
  width: 269px;
}

.landingPage .rectangle-3 {
  background-color: #28282899;
  border-radius: 0px 0px 0px 30px;
  height: 226px;
  left: 102px;
  position: absolute;
  top: 0;
  width: 215px;
}

.landingPage .overlap-wrapper {
  height: 226px;
  left: 0;
  position: absolute;
  top: 1566px;
  transform: rotate(180deg);
  width: 317px;
}

.landingPage .overlap-2 {
  height: 226px;
  position: relative;
}

.landingPage .rectangle-4 {
  background-color: #00000066;
  border-radius: 0px 0px 0px 30px;
  height: 108px;
  left: 0;
  position: absolute;
  top: 118px;
  width: 317px;
}

.landingPage .rectangle-5 {
  background-color: #00000066;
  border-radius: 0px 0px 0px 30px;
  height: 178px;
  left: 48px;
  position: absolute;
  top: 48px;
  width: 269px;
}

.landingPage .rectangle-6 {
  background-color: #00000066;
  border-radius: 0px 0px 0px 30px;
  height: 226px;
  left: 102px;
  position: absolute;
  top: 0;
  width: 215px;
}

.landingPage .our-vision {
  height: 624px;
  left: 106px;
  position: absolute;
  top: 2411px;
  width: 1444px;
}

.landingPage .text-wrapper {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 41px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 171px;
}

.landingPage .the-goal-of-anzairu {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: 27.5px;
  position: absolute;
  text-align: justify;
  top: 236px;
  width: 608px;
}

.landingPage .overlap-3 {
  height: 624px;
  left: 743px;
  position: absolute;
  top: 0;
  width: 697px;
}

.landingPage .wavy-tech-single {
  height: 624px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 624px;
}

.landingPage .ornament {
  height: 170px;
  left: 542px;
  position: absolute;
  top: 396px;
  width: 155px;
}

.landingPage .how-it-works {
  height: 738px;
  left: 9px;
  position: absolute;
  top: 1586px;
  width: 1602px;
}

.landingPage .overlap-4 {
  background-color: #fff7f6;
  height: 738px;
  position: relative;
  width: 1600px;
}

.landingPage .text-wrapper-2 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 41px;
  font-weight: 800;
  left: 640px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 107px;
}

.landingPage .overlap-group-wrapper {
  height: 369px;
  left: 101px;
  position: absolute;
  top: 231px;
  width: 454px;
}

.landingPage .overlap-group-2 {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #00000012;
  height: 369px;
  position: relative;
  width: 450px;
}

.landingPage .text-wrapper-3 {
  color: #ff4f32;
  font-family: "Montserrat", Helvetica;
  font-size: 27px;
  font-weight: 800;
  left: 152px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 150px;
  width: 144px;
}

.landingPage .sunny {
  height: 100px;
  left: 174px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 115px;
}

.landingPage .p {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 197px;
  width: 362px;
}

.landingPage .div-wrapper {
  height: 369px;
  left: 1048px;
  position: absolute;
  top: 231px;
  width: 454px;
}

.landingPage .overlap-5 {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #00000012;
  height: 369px;
  position: relative;
  width: 450px;
}

.landingPage .text-wrapper-4 {
  color: #ff4f32;
  font-family: "Montserrat", Helvetica;
  font-size: 27px;
  font-weight: 800;
  left: 164px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 150px;
  width: 123px;
}

.landingPage .gift {
  height: 99px;
  left: 176px;
  object-fit: cover;
  position: absolute;
  top: 41px;
  width: 99px;
}

.landingPage .text-wrapper-5 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 42px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 197px;
  width: 367px;
}

.landingPage .group-2 {
  height: 369px;
  left: 575px;
  position: absolute;
  top: 231px;
  width: 450px;
}

.landingPage .overlap-6 {
  height: 369px;
  position: relative;
  width: 454px;
}

.landingPage .group-3 {
  height: 369px;
  left: 0;
  position: absolute;
  top: 0;
  width: 454px;
}

.landingPage .overlap-group-3 {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #00000012;
  height: 369px;
  position: relative;
  width: 450px;
}

.landingPage .text-wrapper-6 {
  color: #ff4f32;
  font-family: "Montserrat", Helvetica;
  font-size: 27px;
  font-weight: 800;
  left: 187px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 150px;
  width: 76px;
}

.landingPage .text-wrapper-7 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 197px;
  width: 358px;
}

.landingPage .card {
  height: 100px;
  left: 167px;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 115px;
}

.landingPage .img {
  height: 64px;
  left: 1212px;
  position: absolute;
  top: 115px;
  width: 162px;
}

.landingPage .win-a-collectible {
  height: 508px;
  left: 111px;
  position: absolute;
  top: 923px;
  width: 1298px;
}

.landingPage .text-wrapper-8 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 41px;
  font-weight: 800;
  left: 793px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 135px;
}

.landingPage .text-wrapper-9 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 26px;
  font-weight: 400;
  left: 796px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 197px;
  width: 496px;
}

.landingPage .overlap-7 {
  height: 523px;
  left: 0;
  position: absolute;
  top: 0;
  width: 739px;
}

.landingPage .rectangle-7 {
  background-color: #222222;
  border-radius: 10px;
  height: 203px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 209px;
}

.landingPage .rectangle-8 {
  height: 503px;
  left: 26px;
  position: absolute;
  top: 20px;
  width: 630px;
}

.landingPage .ornament-2 {
  height: 122px;
  left: 617px;
  position: absolute;
  top: 0;
  width: 122px;
}

.landingPage .ornament-3 {
  height: 102px;
  left: 651px;
  position: absolute;
  top: 406px;
  width: 36px;
}

.landingPage .overlap-8 {
  background: linear-gradient(
    180deg,
    rgb(223.12, 51.92, 23.24) 0%,
    rgb(255, 79.24, 50.25) 100%
  );
  border-radius: 70px;
  height: 56px;
  left: 792px;
  position: absolute;
  top: 403px;
  width: 152px;
}

.landingPage .text-wrapper-10 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 19px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.landingPage .header {
  background-color: transparent;
  height: 797px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1616px;
}

.landingPage .overlap-9 {
  height: 796px;
  left: 9px;
  position: relative;
  top: 1px;
  width: 1600px;
}

.landingPage .rectangle-9 {
  background: linear-gradient(180deg, rgb(29, 31, 30) 0%, rgb(15, 28, 70) 100%);
  height: 757px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1600px;
}

.landingPage .rectangle-10 {
  height: 756px;
  left: 3px;
  mix-blend-mode: soft-light;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1597px;
}

.landingPage .ornament-4 {
  height: 289px;
  left: 1211px;
  position: absolute;
  top: 415px;
  width: 300px;
}

.landingPage .bet-on-the-weather {
  color: transparent;
  font-family: "Montserrat", Helvetica;
  font-size: 56px;
  font-weight: 800;
  left: 100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 284px;
}

.landingPage .span {
  color: #ffffff;
}

.landingPage .text-wrapper-11 {
  color: #ff4f32;
}

.landingPage .text-wrapper-12 {
  color: #ffffff;
}

.landingPage .text-wrapper-13 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 26px;
  font-weight: 300;
  left: 101px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 507px;
  width: 537px;
}

.landingPage .ellipse {
  height: 122px;
  left: 1108px;
  position: absolute;
  top: 325px;
  width: 118px;
}

.landingPage .mobile {
  background-image: url(https://generation-sessions.s3.amazonaws.com/e5c13403aa44f281ed66670a951e8984/img/digital-money-copy-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 720px;
  left: 791px;
  position: absolute;
  top: 37px;
  width: 720px;
}

.landingPage .mask-group {
  height: 102px;
  left: 315px;
  position: absolute;
  top: 292px;
  width: 122px;
}

.landingPage .ornament-5 {
  height: 157px;
  left: 0;
  position: absolute;
  top: 639px;
  width: 200px;
}

.landingPage .london {
  height: 78px;
  left: 751px;
  position: absolute;
  top: 178px;
  width: 250px;
}

.landingPage .overlap-group-4 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 78px;
  position: relative;
  width: 238px;
}

.landingPage .ellipse-2 {
  height: 56px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 56px;
}

.landingPage .text-wrapper-14 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 17px;
  font-weight: 800;
  left: 75px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.landingPage .text-wrapper-15 {
  color: #eb3e21;
  font-family: "Montserrat", Helvetica;
  font-size: 13px;
  font-weight: 800;
  left: 75px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
}

.landingPage .text-wrapper-16 {
  color: #eb3e21;
  font-family: "Montserrat", Helvetica;
  font-size: 11px;
  font-weight: 800;
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.landingPage .text-wrapper-17 {
  color: #0069bc;
  font-family: "Montserrat", Helvetica;
  font-size: 13px;
  font-weight: 800;
  left: 154px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
}

.landingPage .text-wrapper-18 {
  color: #0069bc;
  font-family: "Montserrat", Helvetica;
  font-size: 11px;
  font-weight: 800;
  left: 198px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.landingPage .WIN-USDT {
  color: transparent;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 800;
  left: 74px;
  letter-spacing: 0;
  line-height: 15.3px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.landingPage .text-wrapper-19 {
  color: #ff4f32;
}

.landingPage .text-wrapper-20 {
  color: #ffffff;
}

.landingPage .text-wrapper-21 {
  color: #282828;
}

.landingPage .fluent-up {
  height: 10px;
  left: 139px;
  position: absolute;
  top: 32px;
  width: 10px;
}

.landingPage .fluent-mdl-up {
  height: 10px;
  left: 214px;
  position: absolute;
  top: 32px;
  width: 10px;
}

.landingPage .navigation {
  height: 56px;
  left: 1066px;
  position: absolute;
  top: 41px;
  width: 438px;
}

.landingPage .overlap-10 {
  background: linear-gradient(
    180deg,
    rgb(223.12, 51.92, 23.24) 0%,
    rgb(255, 79.24, 50.25) 100%
  );
  border-radius: 70px;
  height: 56px;
  left: 282px;
  position: absolute;
  top: 0;
  width: 152px;
}

.landingPage .text-wrapper-22 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 19px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.landingPage .how-it-works-contact {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 19px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
}

.landingPage .text-wrapper-23 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0;
}

.landingPage .logo {
  background-image: url(https://generation-sessions.s3.amazonaws.com/e5c13403aa44f281ed66670a951e8984/img/image-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 106px;
  left: 93px;
  position: absolute;
  top: 18px;
  width: 155px;
}

.landingPage .mask-group-2 {
  height: 106px;
  left: 0;
  position: absolute;
  top: 0;
  width: 155px;
}

.landingPage .footer {
  background-color: transparent;
  height: 196px;
  left: 94px;
  position: absolute;
  top: 3639px;
  width: 1410px;
}

.landingPage .group-4 {
  height: 106px;
  left: 0;
  position: absolute;
  top: 0;
  width: 155px;
}

.landingPage .how-it-works-contact-2 {
  color: #3c3c3c;
  font-family: "Montserrat", Helvetica;
  font-size: 19px;
  font-weight: 500;
  left: 1023px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 63px;
}

.landingPage .rectangle-11 {
  background-color: #e4e4e4;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 138px;
  width: 1400px;
}

.landingPage .text-wrapper-24 {
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 629px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 178px;
  white-space: nowrap;
}

.landingPage .ri-linkedin-fill {
  height: 35px;
  left: 1362px;
  position: absolute;
  top: 55px;
  width: 35px;
}

.landingPage .ri-twitter-fill {
  height: 35px;
  left: 1306px;
  position: absolute;
  top: 58px;
  width: 35px;
}

.landingPage .are-you-with-us {
  height: 549px;
  left: 0;
  position: absolute;
  top: 3056px;
  width: 1618px;
}

.landingPage .overlap-11 {
  height: 549px;
  position: relative;
  width: 1600px;
}

.landingPage .rectangle-12 {
  background: linear-gradient(
    180deg,
    rgb(29.75, 29.75, 29.75) 0%,
    rgb(81.81, 81.23, 81.13) 100%
  );
  height: 470px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1600px;
}

.landingPage .rectangle-13 {
  height: 470px;
  left: 0;
  mix-blend-mode: luminosity;
  position: absolute;
  top: 0;
  width: 1600px;
}

.landingPage .text-wrapper-25 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 31px;
  font-weight: 800;
  left: 823px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 114px;
}

.landingPage .text-wrapper-26 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 48px;
  font-weight: 800;
  left: 102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 113px;
}

.landingPage .text-wrapper-27 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 102px;
  letter-spacing: 0;
  line-height: 25.9px;
  position: absolute;
  text-align: justify;
  top: 175px;
  width: 608px;
}

.landingPage .ornament-6 {
  height: 150px;
  left: 1351px;
  position: absolute;
  top: 129px;
  width: 150px;
}

.landingPage .rectangle-14 {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #00000040;
  height: 357px;
  left: 823px;
  position: absolute;
  top: 192px;
  width: 610px;
}

.landingPage .rectangle-15 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e2e0e0;
  border-radius: 10px;
  height: 53px;
  left: 849px;
  position: absolute;
  top: 230px;
  width: 180px;
}

.landingPage .rectangle-16 {
  background-color: #ffffff;
  color: #6f6b6b;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid;
  border-color: #e2e0e0;
  border-radius: 10px;
  height: 150px;
  left: 849px;
  position: absolute;
  top: 296px;
  width: 551px;
}

.landingPage .rectangle-17 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e2e0e0;
  border-radius: 10px;
  height: 53px;
  left: 1035px;
  position: absolute;
  top: 230px;
  width: 180px;
}

.landingPage .rectangle-18 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e2e0e0;
  border-radius: 10px;
  height: 53px;
  left: 1220px;
  position: absolute;
  top: 230px;
  width: 180px;
}

.landingPage .rectangle-19 {
  background: linear-gradient(
    180deg,
    rgb(223.12, 51.92, 23.24) 0%,
    rgb(255, 79.24, 50.25) 100%
  );
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 70px;
  height: 56px;
  left: 849px;
  position: absolute;
  top: 464px;
  width: 152px;
}

.landingPage .text-wrapper-28 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 19px;
  font-weight: 700;
  left: 890px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 480px;
}

.landingPage .text-wrapper-29 {
  color: #6f6b6b;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 868px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 248px;
}

.landingPage .text-wrapper-30 {
  color: #6f6b6b;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1050px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 248px;
}

.landingPage .text-wrapper-31 {
  color: #6f6b6b;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1233px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 248px;
}

.landingPage .text-wrapper-32 {
  color: #6f6b6b;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 868px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 319px;
}

.landingPage .ornament-7 {
  height: 40px;
  left: 1538px;
  position: absolute;
  top: 114px;
  width: 40px;
}

.landingPage .ornament-8 {
  height: 60px;
  left: 1518px;
  position: absolute;
  top: 276px;
  width: 60px;
}

.landingPage .rectangle-20 {
  background: linear-gradient(
    180deg,
    rgb(223.12, 51.92, 23.24) 0%,
    rgb(255, 79.24, 50.25) 100%
  );
  border-radius: 70px;
  height: 56px;
  left: 102px;
  position: absolute;
  top: 235px;
  width: 152px;
}

.landingPage .text-wrapper-33 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 19px;
  font-weight: 700;
  left: 143px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 251px;
}