* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Montserrat", sans-serif;
}

body.locked {
  overflow: hidden;
}

body.dark {
  background: #242424;
}

.btn {
  padding: 16px 42px;
  font-weight: 700;
  border-radius: 70px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#df3417), to(#ff4f32));
  background: -o-linear-gradient(top, #df3417 0%, #ff4f32 100%);
  background: linear-gradient(180deg, #df3417 0%, #ff4f32 100%);
  background-size: 200% 200%;
  -webkit-transition: background-position 0.5s;
  -o-transition: background-position 0.5s;
  transition: background-position 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:hover {
  -webkit-animation: gradientAnimation 0.4s ease-in-out infinite;
          animation: gradientAnimation 0.4s ease-in-out infinite;
  color: white !important;
}

.section__title {
  color: #000;
  font-size: 41px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.section__text {
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  background: url("../images/hero__bg.jpg") center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

.wrapper .wrapper__svg {
  position: absolute;
  bottom: -40px;
  left: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
  position: relative;
}

.menu__item-link {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 19px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__item-link:hover {
  color: #ff4f32;
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
}

.hero {
  padding: 140px 0 180px;
  position: relative;
  z-index: 1;
}

.hero__title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.hero__title span {
  color: #ff4f32;
  display: block;
}

.hero__text {
  color: #fff;
  font-size: 26px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 530px;
}

.hero .hero__phone {
  position: absolute;
  right: 0;
  top: -120px;
  z-index: -1;
  pointer-events: none;
}

.section__coin {
  position: relative;
  padding: 160px 0;
}

.section__coin .coin__svg {
  position: absolute;
  right: 0;
  top: 0;
}

.coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coin__title {
  max-width: 500px;
}

.coin__text {
  max-width: 500px;
  margin-top: 10px;
  font-size: 26px;
}

.coin__btn {
  margin-top: 52px;
}

.section__how {
  background: #fff8f6;
  padding: 120px 0;
}

.how {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 74px;
  position: relative;
}

.how .how__svg {
  position: absolute;
  top: -120px;
  right: 120px;
}

.how__title {
  text-align: center;
}

.how__item {
  padding: 40px;
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how__name {
  color: #ff4f32;
  font-size: 27px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 10px;
}

.how__text {
  color: #000;
  text-align: center;
  font-size: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 140.9%;
  margin-top: 14px;
}

.section__vision {
  padding: 80px 0 20px;
  position: relative;
  overflow: hidden;
}

.section__vision .vision__svg {
  position: absolute;
  left: 0;
  top: 0;
}

.vision {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.vision .vision__svg-ornament {
  position: absolute;
  bottom: 0px;
  right: -100px;
}

.vision__item {
  display: grid;
  gap: 20px;
}

.section__contacts {
  padding: 110px 0 180px;
  background: url("../images/contacts__bg.jpg") center/cover no-repeat;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 250px;
  position: relative;
  z-index: 1;
}

.contacts .contacts__svg {
  position: absolute;
  right: -100px;
  top: 0;
  z-index: -1;
}

.contacts__item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 470px;
          flex: 0 1 470px;
}

.contacts__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 610px;
          flex: 1 0 610px;
}

.contacts__title {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.contacts__text {
  color: #fff;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 161.9%;
  margin-top: 4px;
}

.contacts__btn {
  margin-top: 30px;
}

.contacts__subtitle {
  color: #fff;
  font-size: 31px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.contacts__form {
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  max-width: 610px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 26px;
  position: absolute;
  margin-top: 40px;
}

.contacts__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.contacts__input {
  padding: 12px 18px;
  border-radius: 10px;
  border: 1px solid #e2e0e0;
  background: #fff;
  color: #706b6b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
}

.contacts__input:focus {
  border: 1px solid #ff4f32;
}

.contacts__textarea {
  padding: 12px 18px;
  border-radius: 10px;
  border: 1px solid #e2e0e0;
  background: #fff;
  color: #706b6b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  resize: none;
  min-height: 150px;
  margin-top: 14px;
  margin-bottom: 18px;
}

.contacts__textarea:focus {
  border: 1px solid #ff4f32;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 45px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.footer__link {
  color: #3d3d3d;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer__link:hover {
  color: #ff4f32;
}

.footer__link:hover path {
  fill: #ff4f32;
}

.copy {
  color: #000;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-top: 1px solid #e4e4e4;
}

@media (max-width: 1600px) {
  .contacts .contacts__svg {
    display: none;
  }
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }

  .section__title {
    font-size: 36px;
  }

  .logo img {
    max-width: 100px;
  }

  .menu__item-link {
    font-size: 16px;
  }

  .hero__title {
    font-size: 42px;
  }

  .hero__text {
    font-size: 20px;
  }

  .hero .hero__phone {
    max-width: 700px;
  }

  .section__coin {
    padding: 100px 0;
  }

  .section__coin .coin__svg {
    max-width: 180px;
  }

  .coin__img {
    max-width: 600px;
    width: 100%;
    height: auto;
  }

  .coin__text {
    font-size: 24px;
  }

  .coin__btn {
    margin-top: 40px;
  }

  .section__how {
    padding: 100px 0;
  }

  .how__item {
    padding: 30px;
  }

  .section__vision .vision__svg {
    max-width: 180px;
  }

  .vision {
    gap: 50px;
  }

  .vision__img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .contacts {
    gap: 50px;
  }

  .contacts__title {
    font-size: 38px;
  }

  .contacts__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .footer {
    padding-top: 200px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .section__title {
    font-size: 32px;
  }

  .section__text {
    font-size: 16px;
  }

  .wrapper .wrapper__svg {
    max-width: 120px;
  }

  .menu__item-link {
    font-size: 24px;
  }

  .hero {
    padding: 100px 0;
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__text {
    font-size: 18px;
  }

  .hero .hero__phone {
    max-width: 500px;
    top: -100px;
  }

  .section__coin {
    padding: 75px 0;
  }

  .section__coin .coin__svg {
    max-width: 100px;
  }

  .coin {
    gap: 20px;
  }

  .coin__btn {
    margin-top: 20px;
  }

  .section__how {
    padding: 75px 0;
  }

  .how .how__svg {
    right: 50px;
  }

  .how {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
  }

  .how__item:last-child {
    grid-column: 1/3;
  }

  .section__vision .vision__svg {
    max-width: 100px;
  }

  .section__contacts {
    padding: 100px 0;
  }

  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts .contacts__svg {
    display: block;
    right: 0;
    max-width: 150px;
    top: 70px;
  }

  .contacts__item:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .contacts__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .contacts__form {
    position: static;
    max-width: 100%;
  }

  .footer {
    padding: 50px 0;
    gap: 20px;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: -o-linear-gradient(333deg, #1d1f1e 0%, #0f1c46 100%);
    background: linear-gradient(117deg, #1d1f1e 0%, #0f1c46 100%);
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }

  .burger.active:before {
    background: #ffffff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active:after {
    background: #ffffff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #ffffff;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .hero {
    padding-top: 20px;
    padding-bottom: 300px;
  }

  .hero__title {
    text-align: center;
    font-size: 32px;
  }

  .hero__text {
    text-align: center;
    font-size: 16px;
    max-width: 100%;
  }

  .hero .hero__phone {
    max-width: 350px;
    width: 100%;
    height: auto;
    top: unset;
    bottom: 0;
  }

  .section__coin {
    padding: 50px 0;
  }

  .coin {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }

  .coin__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .coin__img {
    max-width: 100%;
  }

  .coin__text {
    max-width: 100%;
  }

  .coin__btn {
    max-width: 100%;
  }

  .section__how {
    padding: 50px 0;
  }

  .how .how__svg {
    display: none;
  }

  .how {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__vision {
    padding-top: 100px;
  }

  .vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }

  .section__contacts {
    padding: 50px 0;
  }

  .contacts {
    gap: 30px;
  }

  .contacts__title {
    font-size: 32px;
  }

  .contacts__form {
    margin-top: 20px;
    padding: 20px;
  }

  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}